<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xsm.flat.dao.FlatVerifyMapper">
  <resultMap id="BaseResultMap" type="com.xsm.flat.entity.FlatVerify">
    <id column="f_id" jdbcType="VARCHAR" property="fId" />
    <result column="f_city" jdbcType="VARCHAR" property="fCity" />
    <result column="f_name" jdbcType="VARCHAR" property="fName" />
    <result column="f_unit" jdbcType="VARCHAR" property="fUnit" />
    <result column="f_house" jdbcType="VARCHAR" property="fHouse" />
    <result column="f_expectprice" jdbcType="VARCHAR" property="fExpectprice" />
    <result column="f_ownername" jdbcType="VARCHAR" property="fOwnername" />
    <result column="f_ownermobile" jdbcType="VARCHAR" property="fOwnermobile" />
    <result column="f_building" jdbcType="VARCHAR" property="fBuilding" />
    <result column="f_status" jdbcType="VARCHAR" property="fStatus" />
    <result column="u_id" jdbcType="VARCHAR" property="uId" /><!--后来加上的字段-->
  </resultMap>
  <sql id="Base_Column_List">
    u_id, f_id, f_city, f_name, f_unit, f_house, f_expectprice, f_ownername, f_ownermobile,
    f_building, f_status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_verify
    where f_id = #{fId,jdbcType=VARCHAR}
  </select>
  <select id="selectByuId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_verify
    where u_id = #{uId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_verify
    where f_id = #{fId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xsm.flat.entity.FlatVerify">
    insert into tb_verify (u_id, f_id, f_city, f_name,
      f_unit, f_house, f_expectprice, 
      f_ownername, f_ownermobile, f_building, 
      f_status)
    values (#{uId,jdbcType=VARCHAR}, #{fId,jdbcType=VARCHAR}, #{fCity,jdbcType=VARCHAR}, #{fName,jdbcType=VARCHAR},
      #{fUnit,jdbcType=VARCHAR}, #{fHouse,jdbcType=VARCHAR}, #{fExpectprice,jdbcType=VARCHAR}, 
      #{fOwnername,jdbcType=VARCHAR}, #{fOwnermobile,jdbcType=VARCHAR}, #{fBuilding,jdbcType=VARCHAR}, 
      #{fStatus,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xsm.flat.entity.FlatVerify">
    insert into tb_verify
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fId != null">
        f_id,
      </if>
      <if test="uId != null">
        u_id,
      </if>,
      <if test="fCity != null">
        f_city,
      </if>
      <if test="fName != null">
        f_name,
      </if>
      <if test="fUnit != null">
        f_unit,
      </if>
      <if test="fHouse != null">
        f_house,
      </if>
      <if test="fExpectprice != null">
        f_expectprice,
      </if>
      <if test="fOwnername != null">
        f_ownername,
      </if>
      <if test="fOwnermobile != null">
        f_ownermobile,
      </if>
      <if test="fBuilding != null">
        f_building,
      </if>
      <if test="fStatus != null">
        f_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fId != null">
        #{fId,jdbcType=VARCHAR},
      </if>
      <if test="uId != null">
        #{uId,jdbcType=VARCHAR},
      </if>
      <if test="fCity != null">
        #{fCity,jdbcType=VARCHAR},
      </if>
      <if test="fName != null">
        #{fName,jdbcType=VARCHAR},
      </if>
      <if test="fUnit != null">
        #{fUnit,jdbcType=VARCHAR},
      </if>
      <if test="fHouse != null">
        #{fHouse,jdbcType=VARCHAR},
      </if>
      <if test="fExpectprice != null">
        #{fExpectprice,jdbcType=VARCHAR},
      </if>
      <if test="fOwnername != null">
        #{fOwnername,jdbcType=VARCHAR},
      </if>
      <if test="fOwnermobile != null">
        #{fOwnermobile,jdbcType=VARCHAR},
      </if>
      <if test="fBuilding != null">
        #{fBuilding,jdbcType=VARCHAR},
      </if>
      <if test="fStatus != null">
        #{fStatus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xsm.flat.entity.FlatVerify">
    update tb_verify
    <set>
      <if test="fCity != null">
        f_city = #{fCity,jdbcType=VARCHAR},
      </if>
      <if test="fName != null">
        f_name = #{fName,jdbcType=VARCHAR},
      </if>
      <if test="fUnit != null">
        f_unit = #{fUnit,jdbcType=VARCHAR},
      </if>
      <if test="fHouse != null">
        f_house = #{fHouse,jdbcType=VARCHAR},
      </if>
      <if test="fExpectprice != null">
        f_expectprice = #{fExpectprice,jdbcType=VARCHAR},
      </if>
      <if test="fOwnername != null">
        f_ownername = #{fOwnername,jdbcType=VARCHAR},
      </if>
      <if test="fOwnermobile != null">
        f_ownermobile = #{fOwnermobile,jdbcType=VARCHAR},
      </if>
      <if test="fBuilding != null">
        f_building = #{fBuilding,jdbcType=VARCHAR},
      </if>
      <if test="fStatus != null">
        f_status = #{fStatus,jdbcType=VARCHAR},
      </if>
    </set>
    where f_id = #{fId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xsm.flat.entity.FlatVerify">
    update tb_verify
    set f_city = #{fCity,jdbcType=VARCHAR},
      f_name = #{fName,jdbcType=VARCHAR},
      f_unit = #{fUnit,jdbcType=VARCHAR},
      f_house = #{fHouse,jdbcType=VARCHAR},
      f_expectprice = #{fExpectprice,jdbcType=VARCHAR},
      f_ownername = #{fOwnername,jdbcType=VARCHAR},
      f_ownermobile = #{fOwnermobile,jdbcType=VARCHAR},
      f_building = #{fBuilding,jdbcType=VARCHAR},
      f_status = #{fStatus,jdbcType=VARCHAR}
    where f_id = #{fId,jdbcType=VARCHAR} AND u_id = #{uId,jdbcType=VARCHAR}
  </update>
</mapper>